/* Sección de Testimonios */
#testimonials {
    padding: 3rem 0;
    background: linear-gradient(135deg, var(--color-secundario), var(--color-fondo));
}

/* Animación para el título de Testimonios */
#testimonials h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--color-primario);
    margin-bottom: 3rem; /* Mayor separación entre título y testimonios */
    opacity: 0; /* Inicia transparente */
    transform: scale(0.8) rotate(-10deg); /* Empieza más pequeño y rotado */
    animation: scaleRotateIn 2s ease-out forwards; /* Aplica la animación */
}

/* Animación de escala y rotación */
@keyframes scaleRotateIn {
    0% {
        opacity: 0;
        transform: scale(0.8) rotate(-10deg); /* Empieza pequeño y rotado */
    }
    50% {
        opacity: 0.5;
        transform: scale(1.05) rotate(10deg); /* Escala ligeramente y rota hacia el otro lado */
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg); /* Termina en su tamaño y rotación original */
    }
}

/* Contenedor de las tarjetas */
#testimonials .testimonials {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

/* Estilo de las tarjetas */
#testimonials .testimonial-card {
    background:var(--color-terciario);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(161, 160, 160, 0.1);
    padding: 1.5rem;
    max-width: 350px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto al pasar el mouse */
#testimonials .testimonial-card:hover {
    transform: scale(1.05); /* Aumento del tamaño */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Más sombra al pasar el mouse */
}

/* Imagen de cada testimonio */
.testimonial-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

/* Títulos y texto del testimonio */
#testimonials .testimonial-card h3 {
    font-size: 1.2rem;
    color: var(--color-primario);
    margin-bottom: 0.5rem;
}

#testimonials .testimonial-card span {
    display: block;
    font-size: 1rem;
    color: white;
    margin-bottom: 1rem;
}

/* Párrafo del testimonio */
#testimonials .testimonial-card p {
    font-size: 1rem;
    color: var(--color-secundario);
    line-height: 1.5;
}